<h1><%= @album.name %></h1>
<hr>
<h2><%= @album.name %>'s tracks</h2>
<ul>
  <% @album.tracks.each do |track| %>
  <li> <%= link_to track.name, track_url(track) %> </li>
  <% end %>
</ul>
<%= link_to "Add a track", new_album_track_url(@album) %>
<hr>
<%= link_to "Edit this album", edit_album_url(@album) %> <%= link_to "Back to #{@album.band.name}", band_url(@album.band) %>
<br>
<br>
<%= button_to "Destroy this album",
  album_url(@album),
  method: :delete,
  data: {confirm: "Are you sure you want to delete #{@album.name}?"} %>
